.LeadersInTheField {
    h3 {
    width: 50%;
    text-wrap: wrap;
    text-overflow: balance;
    }

    .video-carousel {
        margin-bottom: 0;
    }

    .info-and-stats .info-and-stats-img-link {
        border: none;
    }

    .info-and-stats .info-and-stats-img-link:hover {
        background-color: transparent;
    }

    small {
        margin: 0;
        margin-top: .5em;
        margin-bottom: .25em !important;
    }

    .content-justify {
        margin-top: 2em;
    }
    .info-and-stats {
        color: $gray;
        small {
            text-align: center;
            display: block;
            padding: 0;
            margin-top: -3em;
            font-style: italic;
            a {
                border: none;
                &:hover {
                    color: $red;
                    background-color: transparent;
                    font-weight: 400;
                }
            }
        }
    }
    a.inline-link {
        border: none;
        color: $gray;
        font-style: italic;
        text-decoration: underline;
    }

    .source-link {
        text-decoration: underline;
    }

    .player-wrapper {
        position: relative;
        padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
        margin-bottom: 2em;
    }
        
    .react-player {
        position: absolute;
        top: 0;
        left: 0;
    }

    .phase-overview-graphic-link {
        border: none;
        margin: 3em 0em;
        &:hover {
            background-color: transparent;
        }
    }
}

@media  (min-width: 350px) and (max-width: 480px) {
    .LeadersInTheField.container-custom {
        width: 100svw;
        h3 {
            width: 90%;
        }
        .content-justify {
            width: 80%;
            margin-top: 0;
        }

        .main-wrapper {
            width: 100svw !important;
            .wrapper {
                scale: 45%;
                margin: 0;
                margin-top: -2em;
                margin-bottom: -.5em;
            }
        }

        .info-and-stats {
            padding: 1em 2em;
        }

        .player-wrapper {
            position: relative;
            padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
            margin-bottom: 2em;
        }
            
        .react-player {
        position: absolute;
        top: 0;
        left: 0;
        }
    }
}




// Carousel
.card {
    border-radius: 50%;
    width: 6.5em;
    height: 6.5em;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
    img.leader {
        border-radius: 50%;
        height: 6.5em;
        width: auto;
        
    }
  .carousel-btn {
    border: none;
    &:hover {
        background-color: transparent;
    }
  }
  .prev-and-next-item {
    opacity: .45;
  }
  .current-item {
    padding-top: 1.5em;
    .play-btn {
        position: absolute;
        right: .75em;
        bottom: 0em;
        z-index: 4;
    }
    .first-last {
        font-family: "Raleway" !important;
        font-weight: 600;
        font-size: .5em !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        font-style: italic;
        color: $mainFont;
        display: block;
    }
    .first-last-org {
        font-family: "Raleway" !important;
        font-weight: 600;
        font-size: .35em !important;
        margin-top: -.025em;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        font-style: italic;
        color: $mainFont;
        display: block;
    }
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .wrapper {
    display: flex;
    margin: .25em auto 1em auto;
  }