.LeadersInTheField {
    h3 {
    max-width: 40%;
    text-wrap: wrap;
    text-overflow: balance;
    }

    .video-carousel {
        margin-bottom: 0;
    }

    .info-and-stats .info-and-stats-img-link-row {
        border: none;
    }

    .info-and-stats .info-and-stats-img-link-row:hover {
        background-color: transparent;
    }

    .info-and-stats-img-link-row {
        display: inline-block;
    }

    .info-and-stats-img-link-col {
        display: none;
    }


    small {
        margin: 0;
        margin-top: .5em;
        margin-bottom: .25em !important;
    }

    .content-justify {
        margin-top: 2em;
        em {
            font-style: normal;
            color: $red;
            font-weight: 600;
        }
    }
    .info-and-stats {
        color: $gray;
        small {
            text-align: center;
            display: block;
            padding: 0;
            margin-top: -3em;
            font-style: italic;
            a {
                border: none;
                &:hover {
                    color: $red;
                    background-color: transparent;
                    font-weight: 400;
                }
            }
        }
    }
    a.inline-link {
        border: none;
        color: $gray;
        font-style: italic;
        text-decoration: underline;
    }

    .source-link {
        text-decoration: underline;
    }

    .player-wrapper {
        position: relative;
        padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
        margin-bottom: 2em;
    }
        
    .react-player {
        position: absolute;
        top: 0;
        left: 0;
    }

    .row-phase-overview-graphic-link {
        border: none;
        margin: 3em 0em;
        &:hover {
            background-color: transparent;
        }
    }

    .col-phase-overview-graphic-link {
        display: none;
    }
}

@media  (min-width: 350px) and (max-width: 480px) {
    .LeadersInTheField.container-custom {
        width: 100svw;
        font-size: 1em;

        h3 {
            width: 90%;
            font-size: .65em !important;
            text-wrap: balance;
            margin-top: -1em;
        }

        .content-justify {
            width: 80%;
            margin-top: 0;
            p {
                font-size: 2em;
            }
        }

        .main-wrapper {
            width: 100svw !important;
            margin: 1em 0em 1em 0em;

            .wrapper {
                scale: 45%;
                margin: 0;
                margin-top: -2em;
                margin-bottom: -.5em;

                .current-item {
                    margin-top: 3.75em;

                    .leader {
                        margin: 0 auto;
                    }
                }

                .first-last {
                    font-size: 1em !important;
                    text-wrap: nowrap !important;
                    width: 100%;
                }

                .first-last-org {
                    font-size: .75em !important;
                    text-wrap: nowrap !important;
                    width: 100%;
                }
            }
        }

        .info-and-stats {
            padding: .5em;
            margin-top: -.5em;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            .info-and-stats-img-link-row {
                border: none;
                display: none;
            }

            .info-and-stats-img-link-col {
                border: none;
                display: inline-block;
                margin-bottom: .75em;
            }

            small {
                margin: .5em 0em;
            }
        }

        .player-wrapper {
            position: relative;
            padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
            margin-bottom: 2em;
        }
            
        .react-player {
        position: absolute;
        top: 0;
        left: 0;
        }

        .col-phase-overview-graphic-link {
            display: block;
            border: none;
            margin: 3em 0em;
            &:hover {
                background-color: transparent;
            }
        }
    
        .row-phase-overview-graphic-link {
            display: none;
        }
    }
}




// Carousel
.card {
    border-radius: 50%;
    width: 6.5em;
    height: 6.5em;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 1em;
}
    img.leader {
        border-radius: 50%;
        height: 6.5em;
        width: auto;
        
    }
  .carousel-btn {
    border: none;
    &:hover {
        background-color: transparent;
    }
  }
  .prev-and-next-item {
    opacity: .45;
  }
  .current-item {
    padding-top: 1.5em;
    .play-btn {
        position: absolute;
        right: .75em;
        bottom: 0em;
        z-index: 4;
    }
    .first-last {
        font-family: "Raleway" !important;
        font-weight: 600;
        font-size: .5em !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        font-style: italic;
        color: $mainFont;
        display: block;
        text-wrap: nowrap;
    }
    .first-last-org {
        font-family: "Raleway" !important;
        font-weight: 600;
        font-size: .35em !important;
        margin-top: -.025em;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        font-style: italic;
        color: $mainFont;
        display: block;
        text-wrap: nowrap;
    }
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .wrapper {
    display: flex;
    margin: .25em auto 1em auto;
  }