.MapArea {
  .red-line-end {
      margin-top: 1em;
      margin-bottom: .05em;
  }

  .learn-how a {
    border-radius: 24px;
    border: 2px solid #D90F03;
    background: #FFF;
    display: inline-flex;
    align-items: center;
    font-size: .3em;
    margin: 1.5em .75em;
    padding: .5em 1em;
    transition: all 120ms ease-in-out;

    span {
        margin: 0em .5em 0em .75em;
    }

    img {
        animation-name: alternate;
        animation-duration: .7s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    @keyframes alternate {
        0% {
          transform: translate(3px, 0px);
        }
        100% {
          transform: translate(-3px, 0px);
        }
      }
}

  .learn-how a:hover {
    background-color: #FCE5E5;
    font-weight: 800;
    transition: all 50ms ease-in;
  }
}