.MapArea {
  .red-line-end {
      margin-top: 1em;
      margin-bottom: .05em;
  }

  .learn-how a {
    border-radius: 24px;
    border: 2px solid #D90F03;
    background: #FFF;
    display: inline-flex;
    align-items: center;
    font-size: .3em;
    margin: 1.5em .75em;
    padding: .5em 1em;
    transition: all 120ms ease-in-out;

    span {
        margin: 0em .5em 0em .75em;
    }

    img {
        animation-name: alternate;
        animation-duration: .7s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    @keyframes alternate {
        0% {
          transform: translate(3px, 0px);
        }
        100% {
          transform: translate(-3px, 0px);
        }
      }
}

  .learn-how a:hover {
    background-color: #FCE5E5;
    font-weight: 800;
    transition: all 50ms ease-in;
  }

  .map-large {
    display: block;
  }

  .map-small, .map-small-locations {
    display: none;
  }

  @media  (min-width: 350px) and (max-width: 480px) {
    .content-justify {
      width: 90%;
      font-size: .7em !important;
    }

    .map {
      padding: 1em;
    }

    .map-large {
      display: none;
    }

    .map-small {
      display: block;
    }

    .map-small-locations {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      ul {
        margin-bottom: 1.25em;
        li {
          font-family: $secondaryFontface;
          color: $red;
          font-weight: 600;
          text-transform: uppercase;
          font-size: .75em;
          text-align: left;
          margin: 0em .5em;
          text-wrap: balance;
          padding: .25em .5em;
        }
      }
    }

    .red-line-end {
      scale: 76%;
      margin-top: -.5em;
    }

    .learn-how {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $mainFont;
      padding-top: 1em;
      margin-bottom: 1em;

      small {
        font-size: .7em !important;
        padding-bottom: .5em;
      }

      a {
        width: fit-content;
        align-self: flex-end;
        font-size: .5em;
        margin-right: 0em;
      }
    }
  }
}