.WhySCMatters {
    margin-top: .5em;
}

.WhySCMatters .container-custom {
    font-size: .45em;
    font-style: italic;
    font-weight: 500;
    line-height: 1em; /* 127.273% */
    text-transform: none;
    line-height: 1.25em;
    color: #002555;
    width: 50%;
}

.WhySCMatters .whyscmatters-vert-line {
    margin-top: .85em;
    margin-bottom: .1em;
}