.WhySCMatters {
    margin-top: 1em;

    .container-custom {
        font-size: .45em;
        font-style: italic;
        font-weight: 500;
        line-height: 1em; /* 127.273% */
        text-transform: none;
        line-height: 1.25em;
        color: #002555;
        width: 50%;
    }

    .whyscmatters-vert-line {
        margin-top: .85em;
        margin-bottom: .1em;
    }
}

@media  (min-width: 350px) and (max-width: 480px) {
    #whyscmatters {
        margin: 3em 0 0 0;
        width: 100svw;
    }

    .WhySCMatters {
        font-size: 2.35em;

        h2 {
            font-size: .75em;
        }

        p.content-justify {
            width: 80% !important;
        }

        .content-justify {
            font-size: 2em;
        }

        .container-custom {
            width: 80%;
        }

        .whyscmatters-vert-line {
            scale: 70%;
            margin-top: .5em;
        }
    }
}