.Resources {
    h4 {
        text-align: left;
        margin-bottom: 0;
        margin-top: 1em;
        font-size: 0.35em;
        font-style: italic;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 1.25em;
    }

    .title-div {
        justify-content: flex-start;
    }

    .content-justify {
        text-align: left;
        margin: 1em 0em 2.5em 0em;
        width: 100%;
    }

    .ResourcesContent {
        margin: auto 0em auto 2em;
        width: 50%;
        min-height: 80vh;

        .resources-accordions {
            margin-top: 1em;
            .accordion-item-custom {
                border: none;
                padding-left: 0;
                padding-bottom: .25em;
                border-bottom: 2px solid $blue;
            }

            .accordion-header-custom {
                hr {
                    display: none;
                }
                button {
                    color: $mainFont;
                    font-style: italic;
                    font-size: 1em;
                    padding: .5em .5em .5em 0em;
                    background-color: transparent;
                    font-weight: 700;
                }

                button:hover {
                    background-color: transparent;
                    font-weight: 700;
                    color: $red !important;
                }

                button.collapsed {
                    background-color: transparent;
                    border: none;
                    color: $mainFont;
                }

                button:not(.collapsed) {
                    font-weight: 700;
                    color: $red;
                    box-shadow: none;
                }
            }

            .accordion-body-custom {
                .content-justify {
                    margin-bottom: 1em;
                }

                .mapped-accordion-item-custom {
                    .mapped-accordion-header-custom {
                        button {
                            padding: 0em .5em 0em 0em;
                            font-style: italic;
                            font-size: 1em;
                            font-weight: 500;
                            color: $mainFont;
                            background-color: transparent;
                        }

                        button:hover {
                            background-color: transparent;
                            font-weight: 500;
                            color: $red;
                        }
        
                        button.collapsed {
                            background-color: transparent;
                            border: none;
                            color: $mainFont;
                            font-weight: 500;
                            font-family: $secondaryFontface !important;
                        }

                        button:not(.collapsed) {
                            font-weight: 500;
                            color: $red;
                            box-shadow: none;
                        }
                    }

                    .mapped-accordion-body-custom {
                        margin: .25em auto;
                        display: flex;
                        flex-direction: column;
            
                        span {
                            font-size: .35em !important;
                            text-transform: uppercase;
                            font-family: $secondaryFontface;
                            letter-spacing: .25em;
                        }
            
                        a.Tool {
                            border: none;
                            font-size: .85em;
                            text-decoration: underline;
                            width: fit-content;
                            transition: all 200ms ease-in-out;
                            margin-left: -.125em;
            
                            span {
                                font-family: $secondaryFontface !important;
                                text-transform: capitalize;
                                font-weight: normal;
                                font-style: italic;
                                letter-spacing: 0em !important;
                                text-align: left;
                            }
                        }
            
                        a.Tool:hover {
                            background-color: transparent;
                            color: $red;
                        }
                    }
                }

            }

            .parent-phase {
                text-align: left;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: .2em;
                width: fit-content;
                margin: .5em 0em;
                text-transform: uppercase;
                font-family: $secondaryFontface;
                letter-spacing: .25em;
                color: $gray;
            }

            .accordion {
                margin-top: .5em !important;
                margin-bottom: .5em !important;
            }
        }
    }

    hr {
        color: $blue;
        height: 2px;
        background-color: #3870B5;
        opacity: 1;
    }
}

.resources-phase-title {
    display: block;
    text-transform: uppercase;
    text-align: left;
}

.resources-title {
    display: block;
    margin-top: .25em;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: $secondaryFontface !important;
    text-wrap: balance;
    line-height: 1em !important;
    width: 90% !important;
    text-align: left;
}