.header {
	display: flex column;
	font-size: 3.5rem;
	margin: 4rem auto 0;
}

.header h1 > a {
	@apply font-medium;
}
.next:hover {
	@apply underline;
}

.onPantheon {
	@apply items-center bg-black rounded text-white flex flex-row font-normal mt-8 py-4 px-7 w-fit;
	font-size: 1.5rem;
}

/*
$smMin: 350px;
$smMax: 480px;
$mdMin: 481px;
$mdMax: 768px;
$lgMin: 769px;
$lgMax: 1279px;
$xlMin: 1280px; 
*/

/* sm breakpoint */
@media (max-width: 320px) {
	.onPantheon {
		@apply flex-col;
		margin: 0 auto;
	}
}

@media  (min-width: 350px) and (max-width: 480px) {
	.header {
		font-size: 1.5em;
		margin: 0em !important;
	}
}