.content-page {
    display: flex;
    flex-direction: column;
    margin: 1em 1.25em !important;
    margin-right: 0em !important;
    margin-bottom: 0em !important;
    position: relative;
    z-index: 1;
    background-color: #fff;

    // will need to update animations

    .non-sidebar {
        position: fixed;
        width: 75vw;
        height: 100vh;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .sidebar {
        animation: ee_to_resources 1.5s normal forwards;
        position: fixed;
        width: 25vw;
        height: 100vh;
        margin-top: 3.5em;
        top: 0;
        right: 0;
        z-index: -2;
        background-image: url("../constants/network-begin.svg") ;
        background-size: 10.5em;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 100ms ease-in-out;
    }

    .sidebar-filter {
        width: 25vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: -3;
        background-color: $blue;
    }

    .laythefoundation-network {
        animation: none_to_lts 2s normal forwards;
        height: 46vh;
        top: 16%;
        right: 0;
    }
    @keyframes none_to_lts {
        0% {
            background-size: 0em;
        }

        100% {
            background-size: 10.5em;
        }
    }

    .designthesupports-network {
        animation: ltf_to_dts 1.5s normal forwards;
        height: 50vh;
		width: 46vh;
        top: 14%;
        right: 0;
    }
    @keyframes ltf_to_dts {
        0% {
            background-size: 10.5em;
        }
      
        100% {
            background-image: url("../constants/network-middle.svg");
        }
      }
      

    .execandeval-network {
        animation: dts_to_ee 1.5s normal forwards;
        height: 100vh;
		top: -11%;
		right: 0;
        background-position: center;
    }
    @keyframes dts_to_ee {
        0% {
            background-image: url("../constants/network-middle.svg");
        }
      
        100% {
            background-image: url("../constants/network-final.svg");
        }
    }

    @keyframes ee_to_resources {
        0% {
            background-image: url("../constants/network-final.svg");
        }

        100% {
            background-image: url("../constants/network-final.svg");
            margin-top: 0;
        }
    }

    .title-div {
        margin: -.95em 0em 0em 2em;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .phase-pin {
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: .25em;
            width: fit-content;
            margin: .5em 0em;

            img {
                scale: 70%;
            }
        }

        h3 {
            text-align: left;
            font-size: 1.5em !important;
            max-width: 65%;
        }

        .content-justify {
            width: 90%;
            text-align: left;
            margin: 2em 0 !important;
        }
        
        .phase-title-img {
            width: 185%;
            object-fit: cover;
            margin-right: 2.25em;
            margin-left: 0em !important;
            margin-top: 1em;
            height: auto;
            padding-bottom: 6em;
            position: relative;
            right: 1.5em;
            z-index: 1;

            img {
                width: auto;
            }

            &.wider-header-svg {
                img {
                    scale: 103%;
                }
            }
        }
    }

    @media  (min-width: $smMin) and (max-width: $smMax) {
        font-size: 2.25em !important;
        width: fit-content;
        margin-top: 2em !important;

        .title-div {
            margin: 2.5em 0em 0em 1em;
            h3 {
                font-size: 1.25em !important;
            }

            p {
                font-size: .5em !important;
            }

            .phase-pin {
                margin-left: -.3em;
            }
        }

        .sidebar, .sidebar-filter, .sidebar-blur {
            display: none;
        }

        .phase-title-img {
            display: none;
        }
    }
}
