.CopiedPopup {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    background-color: rgb(255, 255, 255, .8);
    padding: .25em 1em;
    margin: .75em 1em;
    z-index: 7;
    border-radius: .15em;

    h4 {
        font-family: $mainFontface;
        font-style: italic;
        text-transform: none;
        font-size: .25em;

    }

    button {
        border: none;
        text-decoration: underline;
        font-size: .25em;
        margin: 1em .5em 1em 1em;
    }

    .hidden {
        display: none;
    }
}