progress {
    width: 90%;
    position: absolute;
    left: 0;
    top: 49.9%;
    z-index: 2;
}

progress::-webkit-progress-bar {
    background-color: $red;
    height: 1px;
}

progress::-webkit-progress-value {
    background-color: $red;
    box-shadow: 0px -.5px 0px 1px $red;
}

.FooterNav {
    position: fixed;
    bottom: 0;
    box-shadow: 0px -5px 10px 10px rgba(72, 79, 88, 0.10);
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
    background-color: #FFF;
    background-image: url("../constants/footernav-progress.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;

    .image-btn {
        height: 2.5em;
    }
}