.HeaderCustom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em 0em 3em;

    .logo {
        display: flex;
        align-items: center;
        z-index: 3
    }

    .logo a {
        border: none;
        margin: .5em;
    }

    .logo a:hover {
        background-color: transparent;
    }

    button, .download {
        font-size: .75em !important;
        position: relative;
        z-index: 6;
    }

    .pill button {
        padding: .5em 1em;
        border: 2px solid #D90F03;
        text-transform: uppercase;
        margin: .5em .5em .5em .5em;
        transition: all 120ms ease-in-out;
    }

    .pill button:hover {
        background-color: #FCE5E5;
        font-weight: 900;
        transition: all 120ms ease-in-out;
    }

    .hamburger-menu {
        display: none;
    }

    @media  (min-width: 350px) and (max-width: 480px) {
        width: 100svw;
        padding: .15em;
        justify-content: space-evenly;
        position: fixed;
        background-color: #FFF;
        z-index: 20;

        .logo {
            padding: .25em 0em;
        }

        .logo-link {
            width: 8em;
        }

        .download {
            font-size: .5em !important;
            margin: 0;
            width: fit-content;
            padding: .5em .75em;
            text-align: center;
            display: none;
        }

        .hamburger-menu {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: .5em 1.25em;
            margin-left: -.75em;
            font-family: $secondaryFontface;
            text-transform: uppercase;
            border: 2px solid $blue !important;
            font-weight: 600;
        }

        .hamburger-menu:hover {
            background-color: transparent;
        }

        .hamburger-menu-icon {
            margin-left: .5em;
        }

        .pill {
            display: none;
        }

        .non-home-header {
            padding: 0;
        }
    }
}