.HeaderCustom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em 0em 3em;
}

.HeaderCustom .logo a {
    border: none;
    margin: .5em;
}

.HeaderCustom .logo a:hover {
    background-color: transparent;
}

.HeaderCustom button, .download {
    font-size: .85em !important;
    position: relative;
    z-index: 6;
}

.HeaderCustom .pill button {
    padding: .5em 1em;
    border: 2px solid #D90F03;
    text-transform: uppercase;
    margin: .5em .5em .5em .5em;
    transition: all 120ms ease-in-out;
}

.HeaderCustom .pill button:hover {
    background-color: #FCE5E5;
    font-weight: 900;
    transition: all 120ms ease-in-out;
}