.MeterBtn {
    position: relative;
    z-index: 2;
        button {
            background-color: transparent;
            padding: 0 !important;
            z-index: 1;
        }

      .track {
        min-width: 15em;
        height: 2em;
        border-radius: 20px;
        padding: 0;
        margin: 0;
        z-index: -1;
        background-color: #fff;
      }
      
      .filled {
        background: $lightRed;
        height: 2em;
        border-radius: 10px;
        transition: 0.5s width;
        padding: 0;
        margin: 0;
        z-index: 0;
      }

      .text{
        z-index: 2;
        margin-top: -1.45em;
      }  
  }