.NextPage {
    font-size: 1em;
    width: 75vw;
    text-align: right;
    background-color: $blue;
    padding: 3em 0em;
    margin-bottom: -6em;
    color: #fff;
    span {
        margin: 0em .5em 0em .95em;
    }

    .pill {
        border: 2px solid #fff;
        background-color: transparent;
        color: #fff;
        padding-right: .75em;
        padding-left: .25em;
        font-size: 1em;
        margin-right: 1em;

        img {
            animation-name: alternate;
            animation-duration: .7s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }

    .pill:hover {
        background-color: #fff;
        color:$blue;
        padding-right: .75em;
        padding-left: .25em;
    }

    @keyframes alternate {
        0% {
          transform: translate(3px, 0px);
        }
        100% {
          transform: translate(-3px, 0px);
        }
      }

      @media  (min-width: 350px) and (max-width: 480px) {
        width: 100svw;
        padding: 1.5em 0em 2em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .continue-text {
          text-align: center;
          margin-bottom: .5em;
      }

      .pill.next-btn {
        align-self: flex-end;
      }


    }
}