.NextPage {
    font-size: 1em;
    width: 75vw;
    text-align: right;
    background-color: $blue;
    padding: 3em 0em;
    margin-bottom: -4em;
    color: #fff;
    span {
        margin: 0em 1em;
    }

    .pill {
        border: 2px solid #fff;
        background-color: transparent;
        color: #fff;
        padding-right: .75em;
        padding-left: .25em;
        font-size: 1em;
        margin-right: 1em;
    }
}