.StickyNote {
    background-color: $paleBlue;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5em;
    margin: .5em 0em;

    h6 {
        font-size: .5em !important;
        font-style: italic;
        width: 100%;
        text-align: left;
        font-family: $secondaryFontface;
    }    

    .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: .4em !important;
        font-weight: 400;
        width: 100%;
        margin-top: .25em;

        img {
            scale: 80% !important;
        }

        span.sticky-note-location {
            margin: .75em;
            font-size: .75em !important;
            letter-spacing: normal;
        }
    }

    .content-justify {
        width: 100%;
        margin: 1em 0em 4em 0em;
        text-align: left;
    }

    .pill {
        color: $blue;
        border: 2px solid $blue;
        background-color: #fff;
        font-family: $secondaryFontface;
        font-size: .25em;
        font-weight: 600;
        padding: .5em 1.5em;
    }

    .pill:hover {
        color: #fff;
        border: 2px solid $blue;
        background-color: $blue;
        font-family: $secondaryFontface;
    }

}
.folded_corner{
    color: $mainFont;
    background: linear-gradient(to top left, transparent 50%, $cornerFold 0) no-repeat 100% 100%/2.1em 2.1em, linear-gradient(-45deg, transparent 1.5em, $paleBlue 0)
  }
  .folded_corner::before{
    position:absolute;
    top:2em; 
    right:0;
    width: 2em;
    height:2em;
    transform: rotate(180deg)
  }