@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    height: 470vh;
    margin-bottom: 20em !important;
    font-family: 'Merriweather', serif;
    color: #002555;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    color: #002555;
    text-transform: uppercase;
    line-height: 1em; /* 127.273% */
}

h3 {
    font-size: .6em !important;
}

small {
    font-size: .25em !important;
    font-weight: 400;
    margin: 1em;
}

progress {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 2;
}

progress::-webkit-progress-bar {
    background-color: #D90F03;
    height: 1px;
}

progress::-webkit-progress-value {
    background-color: red;
    box-shadow: 0px -.5px 0px 1px #D90F03
}

a, button {
    border-radius: 24px;
    border: 2px solid #D90F03;
    background: #FFF;
    display: inline-flex;
    align-items: center;
}

a:hover, button:hover {
    background-color: #FCE5E5;
    font-weight: 900;
    transition: all 120ms ease-in-out;
}

.red-highlight {
    color: #D90F03;
    font-weight: 600;
    display: inline-;
}

.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    padding-top: 1em;
}

.content-justify {
    font-family: Merriweather, serif;
    font-size: .28em !important;
    font-weight: 400;
    margin: 4em 0em 2.5em 0em;
    width: 50%;
    text-overflow: balance;
    text-align: center;
}

.bold-content {
    font-family: Merriweather, serif;
    font-size: .28em;
    font-weight: 400;
    margin: 2em 0em 1.5em 0em;
    width: 50%;
    text-overflow: balance;
    text-align: center;
}

.pill {
    color: #D90F03;
    font-family: 'Raleway', sans-serif;
    font-size: .85em;
    font-style: normal;
    font-weight: 800;
    line-height: 1em; /* 114.286% */
    text-transform: uppercase;
    padding: .5em 2em;
    transition: all 120ms ease-in-out;
}

.navPill-whiteBg {
    z-index: 3;
    background-color: #FFF;
    transition: all 120ms ease-in-out;
}


.navPill-pinkBg {
    z-index: 3;
    background-color: rgb(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border: 3px solid #D90F03;
    font-weight: 700;
    transition: all 120ms ease-in-out;
}

.HeaderCustom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 5em 0em 5em;
}

.HeaderCustom .logo button {
    border: none;
    margin: .5em;
}

.HeaderCustom .pill button {
    padding: .5em 1em;
    border: 1px solid #D90F03;
    text-transform: uppercase;
    margin: .5em .5em .5em .5em;
    transition: all 120ms ease-in-out;
}

.HeaderCustom .pill button:hover {
    background-color: #FCE5E5;
    font-weight: 900;
    transition: all 120ms ease-in-out;
}

.Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5em;
    background-image: url("../constants/hero_bubbles_1.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
}


.Hero h1 {
    font-size: 1em;
    line-height: 1.15em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.Hero h4 {
    font-size: .35em;
    font-style: italic;
    font-weight: 500;
    line-height: 1em; /* 127.273% */
    text-transform: capitalize;
    line-height: 1.25em;
}

.Hero h1, .Hero h2 {
    font-family: 'Raleway', sans-serif;
    color: #002555;
}

.Hero .hero-content {
    font-family: Merriweather, serif;
    font-size: .28em;
    font-weight: 400;
    margin: 2em 0em 1.5em 0em;
    width: 40%;
    text-overflow: balance;
    text-align: center;
}

.Hero .get-started a {
    border-radius: 24px;
    border: 2px solid #D90F03;
    background: #FFF;
    display: inline-flex;
    align-items: center;
    font-size: .25em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: .85em 1.5em;
}

.Hero .get-started a:hover {
    background-color: #FCE5E5;
    font-weight: 900;
    transition: all 50ms ease-in;
}

.Hero .get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hero .get-started .hero-vert-line {
    margin-top: .5em;
}

.Hero .hero-bubbles {
    padding: 0;
    margin: 0;
    width: 100% !important;
    z-index: 0;
}

.WhySCMatters .container-custom {
    font-size: .45em;
    font-style: italic;
    font-weight: 500;
    line-height: 1em; /* 127.273% */
    text-transform: none;
    line-height: 1.25em;
    color: #002555;
    width: 50%;
}

.WhySCMatters .whyscmatters-vert-line {
    margin-top: .85em;
    margin-bottom: .1em;
}

.LeadersInTheField h3 {
    width: 50%;
    text-wrap: wrap;
    text-overflow: balance;
}

.LeadersInTheField .video-carousel {
    margin-bottom: .25em;
}

.LeadersInTheField .info-and-stats .info-and-stats-img-link {
    border: none;
}

.LeadersInTheField .info-and-stats .info-and-stats-img-link:hover {
    background-color: transparent;
}

.LeadersInTheField small {
    margin: 0;
    margin-top: .5em;
    margin-bottom: .25em;
}

.LeadersInTheField .first-last {
    font-family: "Raleway" !important;
    font-weight: 600;
    font-size: .35em !important;
    margin-bottom: 0 !important;
    font-style: italic ;
}

.MapArea .red-line-end {
    margin-top: 1em;
    margin-bottom: .05em;
}

.MapArea .learn-how a {
    border-radius: 24px;
    border: 2px solid #D90F03;
    background: #FFF;
    display: inline-flex;
    align-items: center;
    font-size: .25em;
    margin-bottom: 1.5em;
    padding: .85em 1.5em;
}

.MapArea .learn-how a:hover {
    background-color: #FCE5E5;
    font-weight: 800;
    transition: all 50ms ease-in;
}

.FooterNav {
    position: fixed;
    bottom: 0;
    box-shadow: 0px -5px 10px 10px rgba(72, 79, 88, 0.10);
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    background-color: #FFF;
}

