// brand colors
$blue: #3870B5;
$paleBlue: #EAF4FE;
$darkBlue: #002555;
$red: #D90F03;
$lightRed: #FCE5E5;
$gray: #484F58;
$cornerFold: rgb(156, 200, 247);

// font colors
$mainFont:  #002555;

// font faces
$mainFontface: 'Merriweather', serif;
$secondaryFontface: 'Raleway', sans-serif;

// breakpoints
$smMin: 350px;
$smMax: 480px;
$mdMin: 481px;
$mdMax: 768px;
$lgMin: 769px;
$lgMax: 1279px;
$xlMin: 1280px; 