// brand colors
$blue: #3870B5;
$paleBlue: #EAF4FE;
$darkBlue: #002555;
$red: #D90F03;
$lightRed: #FCE5E5;
$cornerFold: rgb(156, 200, 247);

// font colors
$mainFont:  #002555;

// font faces
$mainFontface: 'Merriweather', serif;
$secondaryFontface: 'Raleway', sans-serif;